#carousel {
	width: 400px;
	overflow: hidden;
	margin: 0 auto;
	border: 2px solid;
	border-radius: 3px;	

	& ul {
		width: 2000px;
		padding: 0;
		margin: 0;
		list-style: none;
	
		li {
			width: 400px;
			height: 300px;
			list-style: none;
			float: left;	
		}
	}	
}	